body{
    background-color: whitesmoke
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: 1px solid #eee;
}



/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    background-color: transparent;
}


.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

.navbar {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7),to(#eee));
  background-image: -webkit-linear-gradient(top, #f7f7f7 0%,#eee 100%);
  background-image: -o-linear-gradient(top, #f7f7f7 0%,#eee 100%);
  background-image: linear-gradient(to bottom, #f7f7f7 0%,#eee 100%);
  border: 1px solid #e5e5e5;
}

@media (min-width: 768px) {
  .navbar-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .navbar-nav .nav-item {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
}

.navbar-toggler {
    position: absolute;
    left: 30px;
    top: 10px;
}


.justify-content-md-between {
    position: absolute;
    left: 90px;
}
.btn .pagination{
    padding-left: 100px;
    color: black;
}

.pagination{
    padding-left: 10px;
}
.auth-div img{
/*    line-height: 20px;*/
    width: 45px;
    height: 45px;
    margin-top: 2px;
    border-radius: 50px;
}
.signOut{
    margin-top: 10px;
}
.auth-div> *{
    display: inline-block;
    
}
.auth-div> form >button >a{
    text-decoration: none;
    color: white;
}
.registration {
    background-color: rgb(239, 239, 239);
    border: 1px solid rgba(0, 0, 0, 0.15);
    
    border-radius: 10px;
}
.registratin button{
   text-align: center;  
}
.regUser{
    margin-bottom: 10px;
}
.buy{
    width: 100%;
}
.history p{
    float: left;
    margin-left: 30px;
}
.history{
    border-radius: 10px;
    border: 1px black solid;
    background-color: #e2e2e2;
}